<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rakibsabbir.cardiacrecorder">


    <application

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyCardi">
        <activity
            android:name="com.rakibsabbir.cardiacrecorder.signup"
            android:exported="false" />
        <activity
            android:name="com.rakibsabbir.cardiacrecorder.SignIn"
            android:exported="false" />
        <activity
            android:name="com.rakibsabbir.cardiacrecorder.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rakibsabbir.cardiacrecorder.Details"
            android:exported="true" />
        <activity
            android:name="com.rakibsabbir.cardiacrecorder.ShowData"
            android:exported="false" />
        <activity
            android:name="com.rakibsabbir.cardiacrecorder.MainActivity"
            android:exported="true" >

        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>
</manifest>